{% extends "pages/base.html" %}

{% block title %}Page2{% endblock %}

{% block content %}
<h1>{{research}}</h1>
{% for detail in item %}

<div class="container mt-5">  
        <div class="row">
          <div class="col-md-6 d-flex">
            <img width="100%" src="https://cdn.tgdd.vn/Products/Images/42/190322/iphone-xs-max-256gb-white-600x600.jpg">
          </div>
          <div class="col-md-6">
              <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Tên sản phẩm</th>
                      <td>{{detail.ProductName}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Nhà sản xuất</th>
                      <td>{{detail.Company}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Nhà phân phối</th>
                      <td>{{detail.Distributor}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Giá sản phẩm</th>
                      <td class="text-primary">{{detail.Price}}</td>
                      </tr>
                  </tbody>
                </table>
          </div>
        </div>
    </div>
{% endfor %}
{% endblock %}